{% extends 'base.html' %}


{% block head %}

{% endblock %}

{% block body %}
<header>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" style="font-size: 300%; color:antiquewhite;" href="{{url_for('forum')}}">MYAPP</a>
            <div class="navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    {% if current_user.id == 1 %}
                    <a class="nav-link header-link" href="{{url_for('admin')}}">Admin</a>
                    {% endif %}
                    <a class="nav-link header-link" href="{{url_for('predict')}}">Predict</a>
                    <a class="nav-link header-link" href="{{url_for('logout')}}">Logout</a>
                    <a class="nav-link header-link" href="{{url_for('post')}}">Post</a>
                </div>
            </div>
        </div>
    </nav>

    <br>


    <div>
        
        {% for post in posts|reverse %}
        <div style = "padding-bottom: 20px; margin-left: 15%;">

            <div class = "person_label">
                <p style = "font-size: 7vw; margin-bottom:-3px; letter-spacing: 0.5em; margin-left: 2%;"> {{ post.company }}</p>
                <p style = "font-size: 2vw; margin-bottom: -1px;">Posted by: {{ idname[post.id] }}</p>
                <p style = "font-size: 2vw;">{{post.date_posted}}</p>
                <p style = "font-size: 3vw;">Base Salary: ${{post.base_salary}}</p> 
                <p style = "font-size: 3vw;">Bonus Salary: ${{post.bonus_salary}}</p> 
            </div>
        </div>
        {% endfor %}
    </div>
</header>
{% endblock %}