{% extends 'base.html' %}


{% block head %}


<script>

    $(document).ready(function () {
        $('.center').fadeIn(400, function () {
            $('.txt_field').fadeIn(300, function () {
                $('.sub').fadeIn();
            });
        });
    });

</script>


<style>
    .hidden{
        display:none;
    }
</style>

{% endblock %}

{% block body %}

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" style="font-size: 300%; color:antiquewhite;" href="{{url_for('index')}}">MYAPP</a>
        <div class="navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link header-link" href="{{url_for('register')}}">Register</a>
            </div>
        </div>
    </div>
</nav>

<header>

    <div class="center hidden">

        <h1 style="padding-top: 15px;">Register Now!</h1>

        <form method="POST" autocomplete="off" autocapitalize="off">

            {{ form.hidden_tag() }}

            <div class="txt_field hidden">
                {{ form.username }}
                <label>Username</label>
            </div>

            <div class="txt_field hidden">
                {{ form.password }}
                <label>Password</label>
            </div>
            <div class="sub hidden">
                {{ form.submit }}
            </div>
        </form>

    </div>
</header>
{% endblock %}